body {
  background-color: white;
  position: relative;
  height: 100%;
}

.header {
  background-color: #4c5570;
  position: absolute;
  width: 100%;
  height: 100px;
  color: white;
}

h1 {

  position: static;
  text-align: center;
  padding-top: 10px;
  top: 50%;
}

.page {
  position: relative;
  background-color: lightYellow;
  display: flex;
  top: 100px;
  height: 100%;
  width: 100%;
}

.warlock {
  background-color: lightGray;
  padding-left: 10px;
  border-width: 5px;
  border-color: red;
  width: 75%;
  height: 100%;
}
.info {
  padding-left: 10px;
  border-width: 5px;
  border-color: red;
  width: 25%;
  height: 100%;
  background-color: white;
}
.name {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.statsContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
  max-width: 750px;
  align-content: center;
  margin: 0 auto;
}
.stat {
  text-align: center;
  position: relative;
  background-color: white;
  border-color: darkGray;
  border-style: solid;
  border-width: 3px;
  width: 100px;
}

.options-heading {
  font-size: 3em;
  text-align: center;
}

.statValue{
  font-size: 3em;
}

.statName {
  padding-bottom: 10px;
  font-size: 2em;
}

.statPreference {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  border: 2px solid darkGray;
  background-color: white;
}

.statPrefNumber {
  font-size: 1em;
  margin-left: 10px;
}

.statPrefName {
  position: relative;
  margin-left: .5em;
  font-size: 2em;
}

.sortPreferenceButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60px;
  margin: 0px 10px;
}
